html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #174a7a;
  font-size: 18px;
  line-height: 1.42857143;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

.roboto, body, .vmain-form input, .searchform input, .searchform-btn {
  font-family: 'Roboto', serif;
}

.regular, .vmain-form input, .video-btn-text {
  font-weight: 400;
}

.thin {
  font-weight: 100;
}

.light, .h2, .vmodal-transparent .vmodal-close {
  font-weight: 300;
}

.medium, body, .searchform input, .searchform-btn {
  font-weight: 500;
}

.bold, .vbtn, .h1, .post-column-title, .vmodal-title {
  font-weight: 700;
}

.black, .page-not-found {
  font-weight: 900;
}

/* ===================== 
Start: COLUMNS      
======================== */
.vak-xs-1 {
  width: 8.33333%;
}

.vak-xs-2 {
  width: 16.66667%;
}

.vak-xs-3 {
  width: 25%;
}

.vak-xs-4 {
  width: 33.33333%;
}

.vak-xs-5 {
  width: 41.66667%;
}

.vak-xs-6 {
  width: 50%;
}

.vak-xs-7 {
  width: 58.33333%;
}

.vak-xs-8 {
  width: 66.66667%;
}

.vak-xs-9 {
  width: 75%;
}

.vak-xs-10 {
  width: 83.33333%;
}

.vak-xs-11 {
  width: 91.66667%;
}

.vak-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .vak-sm-1 {
    width: 8.33333%;
  }
  .vak-sm-2 {
    width: 16.66667%;
  }
  .vak-sm-3 {
    width: 25%;
  }
  .vak-sm-4 {
    width: 33.33333%;
  }
  .vak-sm-5 {
    width: 41.66667%;
  }
  .vak-sm-6 {
    width: 50%;
  }
  .vak-sm-7 {
    width: 58.33333%;
  }
  .vak-sm-8 {
    width: 66.66667%;
  }
  .vak-sm-9 {
    width: 75%;
  }
  .vak-sm-10 {
    width: 83.33333%;
  }
  .vak-sm-11 {
    width: 91.66667%;
  }
  .vak-sm-12 {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .vak-md-1 {
    width: 8.33333%;
  }
  .vak-md-2 {
    width: 16.66667%;
  }
  .vak-md-3 {
    width: 25%;
  }
  .vak-md-4 {
    width: 33.33333%;
  }
  .vak-md-5 {
    width: 41.66667%;
  }
  .vak-md-6 {
    width: 50%;
  }
  .vak-md-7 {
    width: 58.33333%;
  }
  .vak-md-8 {
    width: 66.66667%;
  }
  .vak-md-9 {
    width: 75%;
  }
  .vak-md-10 {
    width: 83.33333%;
  }
  .vak-md-11 {
    width: 91.66667%;
  }
  .vak-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .vak-lg-1 {
    width: 8.33333%;
  }
  .vak-lg-2 {
    width: 16.66667%;
  }
  .vak-lg-3 {
    width: 25%;
  }
  .vak-lg-4 {
    width: 33.33333%;
  }
  .vak-lg-5 {
    width: 41.66667%;
  }
  .vak-lg-6 {
    width: 50%;
  }
  .vak-lg-7 {
    width: 58.33333%;
  }
  .vak-lg-8 {
    width: 66.66667%;
  }
  .vak-lg-9 {
    width: 75%;
  }
  .vak-lg-10 {
    width: 83.33333%;
  }
  .vak-lg-11 {
    width: 91.66667%;
  }
  .vak-lg-12 {
    width: 100%;
  }
}

/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.vhidden,
.vvisible-bigLg,
.vvisible-lg,
.vvisible-md,
.vvisible-sm,
.vvisible-xs,
.vvisible-exs {
  display: none !important;
}

@media (min-width: 1200px) {
  .vhidden-lg {
    display: none !important;
  }
  .vvisible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vhidden-md {
    display: none !important;
  }
  .vvisible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vhidden-sm {
    display: none !important;
  }
  .vvisible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .vhidden-xs {
    display: none !important;
  }
  .vvisible-xs {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .vvisible-exs {
    display: block !important;
  }
}

/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, [class*="vak"], .vcontainer, .vcontainer-small, .cf, .vrow, .vtabs-wrap, .vtabs-links, .vtabs-content, .vtabs-vertical, .vsection, .vnav-menu li a, .vbtn {
  position: relative;
}

[class*="vak"], .vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .vrow:after, .vcontainer:after, .vcontainer-small:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after, .vtabs-vertical:after, .cf:before, .vrow:before, .vcontainer:before, .vcontainer-small:before, .vtabs-wrap:before, .vtabs-links:before, .vtabs-content:before, .vtabs-vertical:before {
  content: "";
  display: table;
}

.cf:after, .vrow:after, .vcontainer:after, .vcontainer-small:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after, .vtabs-vertical:after {
  clear: both;
}

.vrow {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="vak"] {
  float: left;
}

@media (min-width: 768px) {
  .vcontainer {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .vcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}

@media (min-width: 1025px) {
  .vcontainer-small {
    width: 970px;
  }
}

.vsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-pb {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .min-sm-no-pb {
    padding-bottom: 0;
  }
}

.vpull-left {
  float: left;
}

.vpull-right {
  float: right;
}

@media (min-width: 1500px) {
  .vpull-bigLg-right {
    float: right;
  }
}

@media (min-width: 1200px) {
  .vpull-lg-right {
    float: right;
  }
}

@media (min-width: 1025px) {
  .vpull-md-right {
    float: right;
  }
}

@media (min-width: 768px) {
  .vpull-sm-right {
    float: right;
  }
}

@media (min-width: 480px) {
  .vpull-xs-right {
    float: right;
  }
}

@media (min-width: 320px) {
  .vpull-exs-right {
    float: right;
  }
}

.block-inline, img, .vbtn, .vmain-form input {
  display: inline-block;
}

.vnav-wrapper-fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  padding: 11px 0;
  background-color: #fff;
}

.vnav-logo {
  font-size: 0;
}

@media (max-width: 1199px) {
  .vnav .vcontainer {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .vnav-logo img {
    vertical-align: middle;
    max-height: 28px;
    max-width: 70px;
  }
}

.vnav-menu li {
  display: inline-block;
  vertical-align: middle;
}

.vnav-menu li a {
  color: inherit;
}

.vnav-menu li a:hover {
  text-decoration: underline;
}

.vnav-menu li.border:hover a {
  color: #174a7a;
  background-color: #f0fbeb;
}

.vnav-menu li.border a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.vnav-menu, .vnav-menu-btn, .vnav-menu-btn span, .vnav-menu-btn span:after, .vnav-menu-btn span:before {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.vnav-menu-btn {
  display: inline-block;
  vertical-align: middle;
  z-index: 11;
  padding: 1px 6px;
  width: 48px;
  height: 34px;
  line-height: 34px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.vnav-menu-btn span, .vnav-menu-btn span:after, .vnav-menu-btn span:before {
  display: block;
  margin: auto;
  width: 24px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.vnav-menu-btn span {
  position: relative;
}

.vnav-menu-btn span:after, .vnav-menu-btn span:before {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.vnav-menu-btn span:before {
  top: -8px;
}

.vnav-menu-btn span:after {
  top: 8px;
}

.vnav-menu-btn.active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.vnav-menu-btn.active span:after, .vnav-menu-btn.active span:before {
  width: 15px;
  top: 0;
  -webkit-transform-origin: 1.71429px center;
          transform-origin: 1.71429px center;
}

.vnav-menu-btn.active span:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.vnav-menu-btn.active span:after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@media (max-width: 1024px) {
  .vnav-menu-fixed {
    display: block;
    position: fixed;
    left: 0;
    top: 56px;
    padding: 0;
    width: 270px;
    height: 100%;
    background-color: #e6e6e6;
    -webkit-transform: translateZ(0) translateX(-120%);
            transform: translateZ(0) translateX(-120%);
  }
  .vnav-menu-fixed.active {
    -webkit-transform: none;
            transform: none;
  }
  .vnav-menu-fixed li {
    display: block;
  }
  .vnav-menu-fixed li a {
    color: #fff;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #bfbfbf;
  }
  .vnav-menu-fixed li.current-menu-item a {
    background-color: #929292;
  }
  .vnav-logo {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 1025px) {
  .vnav-wrapper-fixed {
    padding: 20.5px 0;
  }
  .vnav-logo {
    padding: 10px 0;
  }
  .vnav-menu {
    text-align: right;
  }
  .vnav-menu li {
    padding: 5px 7.5px;
  }
  .vnav-menu li:first-child {
    padding-left: 0;
  }
  .vnav-menu li:last-child {
    padding-right: 0;
  }
  .vnav-menu li.current-menu-item a {
    text-decoration: underline;
  }
  .vnav-menu li.border {
    padding-top: 0;
    padding-bottom: 0;
  }
  .vnav-menu li.border a {
    padding: 10px 25px;
    border: 2px solid #5cc62b;
    border-radius: 6px;
  }
  .vnav-menu-fixed li.current-menu-item a {
    color: #5cc62b;
  }
  .vnav-menu-btn {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vnav {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .vnav-menu li {
    padding: 15px 11px;
  }
}

.aside-widget {
  margin-bottom: 25px;
}

.aside-widget:last-child {
  margin-bottom: 0;
}

.aside-widget-light {
  padding: 18px;
  background-color: #fff;
}

.tags-cloud {
  text-align: center;
}

.tags-cloud a {
  display: inline-block;
  padding: 2.5px 8px;
  margin-right: 7.5px;
  margin-bottom: 7.5px;
  border-radius: 6px;
  border: 1px solid #ebeff0;
  text-decoration: none;
}

.tags-cloud a:hover {
  color: #5cc62b;
  border-color: #5cc62b;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}

@media (min-width: 1025px) {
  .footer {
    padding-bottom: 0;
  }
}

.footer-v1:after, .footer-v2:before, .footer-v2:after, .footer-height:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-v1 {
  background: url("../img/bigAmerica.png") 0 0 no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.footer-v1:after {
  background: -webkit-linear-gradient(bottom, #174a7a 0%, rgba(23, 74, 122, 0) 100%);
  background: linear-gradient(to top, #174a7a 0%, rgba(23, 74, 122, 0) 100%);
}

.footer-v2 {
  background: url("../img/people.jpg") 0 0 no-repeat;
  background-size: cover;
}

.footer-v2:before {
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-v2:after {
  background: -webkit-linear-gradient(bottom, #000 0%, rgba(23, 74, 122, 0) 100%);
  background: linear-gradient(to top, #000 0%, rgba(23, 74, 122, 0) 100%);
}

.footer-v2 .vnav-menu li:not(.border) a {
  color: #333333;
}

.footer-default {
  color: #fff;
}

.footer-absolute {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  color: #fff;
}

.footer-height {
  position: relative;
  z-index: 1;
  min-height: 200px;
}

@media (max-width: 1024px) {
  .footer-absolute {
    display: none;
  }
}

@media (min-width: 1025px) {
  .footer-v2, .footer-height {
    min-height: 600px;
  }
  .footer-v2 {
    padding-top: 200px;
  }
}

.transition, .vnav-menu li a, .tags-cloud a, .vbtn, .vbtn:before, .vmain-form input, .video-btn-inner, .video-btn-text, .searchform input, .post-column, .vtabs-list a {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.pseudo, .vnav-menu-btn span:after, .vnav-menu-btn span:before, .footer-v1:after, .footer-v2:before, .footer-v2:after, .footer-height:after, .vbtn:before, .video-btn-inner:after, .video-btn-text:after, .searchform-btn:after, .post-thumbnail:after {
  content: "";
  position: absolute;
}

.vertical-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vertical-image img {
  max-height: 100%;
  vertical-align: middle;
}

.shadow, .vnav-wrapper-shadow, .aside-widget-light, .widget-block, .vtabs-horizontal {
  box-shadow: 0 3px 50px rgba(1, 0, 0, 0.15);
}

.radius, .vmain-form, .vmain-form input,
.vmain-form button, .widget-block, .searchform input, .searchform-btn, .post-wrap, .post-thumbnail, .post-thumbnail:after, .vtabs-horizontal {
  border-radius: 6px;
}

.color-light {
  color: #fff;
}

.color-black {
  color: black;
}

.fs-0, .post-column-image {
  font-size: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.text-small {
  font-size: 11px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.vbtn {
  border: none;
  border-radius: 3px;
  max-width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  z-index: 1;
  font-size: 16px;
}

.vbtn:before {
  z-index: -1;
}

@media (min-width: 480px) {
  .vbtn {
    font-size: 18px;
    padding: 14.5px 25px;
    color: inherit;
  }
}

.vbtn-effect {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.vbtn-effect-skew:before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.vbtn-effect-skew:hover:before {
  height: calc(450% - 40px);
  opacity: 1;
}

.vbtn-effect-bgtransition:before, .vbtn-effect-shutter:before, .vbtn-effect-shutter-vertical-out:before, .vbtn-effect-shutter-horizontal-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vbtn-effect-shutter-vertical-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.vbtn-effect-shutter-vertical-out:hover:before, .vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.vbtn-effect-shutter-horizontal-out:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.vbtn-effect-shutter-horizontal-out:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.vbtn-effect-bounce-top:before {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.vbtn-effect-bounce-bottom:before {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.vbtn-def {
  border-radius: 6px;
  border: 2px solid #5cc62b;
  background-color: transparent;
  text-align: center;
  color: inherit;
}

.vbtn-def:hover {
  background-color: #f0fbeb;
}

.vbtn-def:last-child {
  margin-bottom: 0;
}

.vbtn-def-color {
  border-color: transparent;
  background-color: #5cc62b;
  color: #fff;
}

.vbtn-def-color:hover {
  background-color: #78d84c;
}

.vbtn-corp {
  background-color: #174a7a;
}

.vbtn-corp:before {
  background-color: #2371ba;
}

@media (min-width: 768px) {
  .vbtn-single {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .vbtn-single {
    margin-top: 35px;
  }
}

.vmain-form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  padding-bottom: 30px;
}

.vmain-form input,
.vmain-form button {
  width: 100%;
}

.vmain-form input {
  border: 2px solid #fff;
  text-align: left;
  max-width: 100%;
  padding: 14px 15px;
  margin-bottom: 0;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  outline: none;
  background-color: transparent;
}

.vmain-form input::-webkit-input-placeholder {
  color: #fff;
}

.vmain-form input:-moz-placeholder {
  color: #fff;
}

.vmain-form input::-moz-placeholder {
  color: #fff;
}

.vmain-form input:-ms-input-placeholder {
  color: #fff;
}

.vmain-form input:focus {
  border-color: #5cc62b;
}

.vmain-form .vbtn {
  width: 100%;
  padding: 17px 15px;
}

@media (max-width: 1024px) {
  .vmain-form-col {
    margin-bottom: 15px;
  }
  .vmain-form-col:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .vmain-form-fixed {
    width: 300px;
  }
}

@media (min-width: 1025px) {
  .vmain-form {
    padding: 35px 70px;
  }
}

.h1 {
  line-height: 1.1;
  font-size: 30px;
  margin: 0 0 30px;
}

@media (min-width: 480px) {
  .h1 {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  .h1 {
    font-size: 100px;
  }
}

@media (min-width: 1500px) {
  .h1 {
    font-size: 130px;
  }
}

@media (min-width: 320px) {
  .h2 {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .h2 {
    font-size: 30px;
  }
}

.vtitle-page {
  line-height: 1;
  font-size: 40px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .vtitle-page {
    font-size: 48px;
  }
}

.vtitle-page.b-m {
  margin-bottom: 60px;
}

@media (min-width: 1025px) {
  .vtitle {
    margin-bottom: 75px;
  }
}

@media (min-width: 768px) {
  .h1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .h1, .h2 {
    margin: 15px 0;
  }
}

.color-corp {
  color: #174a7a;
}

.ttu {
  text-transform: uppercase;
}

.tdu {
  text-decoration: underline;
}

.tdn, .vnav-menu li a, .vbtn {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (min-width: 1025px) {
  .min-md-right {
    text-align: right;
  }
}

@media (max-width: 1499px) {
  .max-bigLg-center {
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .max-lg-center {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .max-md-center {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .max-sm-center {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .max-xs-center {
    text-align: center;
  }
}

@media (max-width: 319px) {
  .max-exs-center {
    text-align: center;
  }
}

.video {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.video-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.video-btn-inner {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #5cc62b;
  border-radius: 100%;
}

.video-btn-inner:after {
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-left: 30px solid white;
}

.video-btn-text {
  position: absolute;
  right: -35px;
  top: 50%;
  margin-top: -21px;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  color: #789487;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}

.video-btn-text:after {
  left: -65px;
  top: 50%;
  margin-top: -51.5px;
  width: 51px;
  height: 103px;
  background: url("../img/borderBtn.png") 0 0 no-repeat;
  background-size: cover;
}

.video-btn:hover .video-btn-text {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.video-btn:hover .video-btn-inner {
  background-color: #78d84c;
}

@media (max-width: 1024px) {
  .video-btn {
    width: 150px;
    height: 110px;
    position: relative;
    display: inline-block;
  }
  .video-btn-wrap {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .video-btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 110px;
    margin-left: -40px;
    margin-top: -140px;
  }
}

.greeting {
  background: url("../img/header.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}

.greeting-title {
  margin-bottom: 10px;
  font-size: 30px;
}

.greeting-title-big {
  font-size: 50px;
  line-height: 1.2;
}

@media (max-width: 1024px) {
  .greeting {
    border-bottom: 10px solid #f0f4f7;
  }
  .greeting-column {
    text-align: center;
  }
  .greeting .vtabs-content {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .greeting {
    padding-top: 60px;
  }
  .greeting-title {
    font-size: 48px;
  }
  .greeting-title-big {
    font-size: 72px;
  }
}

@media (min-width: 1025px) {
  .greeting {
    min-height: 650px;
    padding-top: 135px;
  }
  .greeting-margin {
    margin-top: 120px;
  }
}

@media (max-width: 1024px) {
  .vnav-wrapper-fixed + .main-wrapper {
    margin-top: 55px;
  }
  .vnav-wrapper-shadow + .main-wrapper {
    margin-top: 100px;
  }
  .main-content {
    margin-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .vnav-wrapper-fixed + .main-wrapper {
    margin-top: 89px;
  }
  .vnav-wrapper-shadow + .main-wrapper {
    margin-top: 170px;
  }
}

.main-wrapper {
  position: relative;
}

.widget-block {
  padding: 150px 25px 25px 25px;
  color: #fff;
  background-size: cover;
  background-position: 0 0;
}

.widget-block-why {
  background-image: url("../img/whyCapital.png");
}

.widget-block-what {
  background-image: url("../img/whatDo.png");
}

.widget-block a {
  color: inherit;
  text-decoration: none;
}

.widget-title {
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.widget-text {
  line-height: 1.25;
}

@media (min-width: 480px) {
  .widget-title {
    font-size: 46px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .widget-block {
    padding-top: 220px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1025px) {
  .widget-block {
    padding-top: 220px;
    min-height: 434px;
  }
  .widget-title {
    font-size: 37px;
  }
}

@media (min-width: 1200px) {
  .widget-title {
    font-size: 46px;
  }
}

.block-m-b {
  margin-bottom: 30px;
}

.block-m-s {
  margin-bottom: 15px;
}

.block-m-b:last-child, .block-m-s:last-child {
  margin-bottom: 0;
}

.searchform {
  font-size: 0;
}

.searchform input, .searchform-btn {
  display: inline-block;
  font-size: 18px;
}

.searchform input {
  border: 2px solid #5cc62b;
  padding: 9px 15px;
  outline: none;
  color: #174a7a;
  width: calc(100% - 75px);
  margin-right: 15px;
}

.searchform input::-webkit-input-placeholder {
  color: #174a7a;
}

.searchform input:-moz-placeholder {
  color: #174a7a;
}

.searchform input::-moz-placeholder {
  color: #174a7a;
}

.searchform input:-ms-input-placeholder {
  color: #174a7a;
}

.searchform input:focus {
  border-color: #88dd61;
}

.searchform-btn {
  background-color: #5cc62b;
  border: none;
  text-indent: -9999px;
  padding: 11px 30px;
  position: relative;
  top: -1px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.searchform-btn:hover {
  background-color: #88dd61;
}

.searchform-btn:after {
  left: 50%;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-left: -13px;
  margin-top: -13px;
  background: url("../img/icon.png") 0 0 no-repeat;
  background-size: cover;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .searchform input {
    max-width: 70%;
  }
}

.review-man {
  font-size: 0;
}

.review-man-quote {
  font-size: 20px;
  font-style: italic;
}

.review-man-quote-wrap {
  line-height: 1.3;
  position: relative;
}

.review-man-name {
  margin-top: 30px;
  font-size: 24px;
}

.review-man-pos {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .review-man {
    border-bottom: 2px solid #141319;
    margin-bottom: 15px;
  }
  .review-man-quote-wrap {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .review-man {
    text-align: center;
  }
  .review-man img {
    max-height: 300px;
  }
}

@media (min-width: 768px) {
  .review-man-quote {
    font-size: 24px;
  }
  .review-man-pos {
    margin-top: 10px;
  }
}

@media (min-width: 1025px) {
  .review-man-quote {
    font-size: 30px;
  }
  .review-man-quote-wrap {
    top: 110px;
  }
}

@media (min-width: 1200px) {
  .review-man-quote {
    font-size: 36px;
  }
  .review-man-quote-wrap {
    top: 117px;
    left: -107px;
  }
}

@media (max-width: 1024px) {
  .column-text-image {
    margin-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .column-text-image {
    margin-top: 120px;
  }
}

.bgHead {
  background: url("../img/bgHead.jpg") center center no-repeat;
  background-size: cover;
}

.post-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 200px;
}

.post-wrap:last-child {
  margin-bottom: 0;
}

.post-thumbnail, .post-thumbnail:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.post-thumbnail {
  font-size: 0;
}

.post-thumbnail img {
  max-width: none;
}

.post-thumbnail:after {
  background: -webkit-linear-gradient(bottom, black 0%, transparent 100%);
  background: linear-gradient(to top, black 0%, transparent 100%);
}

.post-details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
}

.post-footer {
  font-size: 0;
  text-align: right;
}

.post-title {
  margin-bottom: 20px;
}

.post-title a {
  display: block;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.post-link {
  color: inherit;
}

.post-link:hover {
  background-color: #5cc62b;
}

@media (min-width: 1025px) {
  .post-wrap {
    min-height: 440px;
  }
  .post-title {
    font-size: 26px;
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  .post-title {
    font-size: 30px;
  }
}

.post-column {
  opacity: 0.2;
}

.post-column:hover {
  opacity: 0.8;
}

.post-column-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.post-column-image img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: none;
  border-radius: 6px 6px 0 0;
}

.post-column-title {
  line-height: 1.2;
  display: block;
  color: #174a7a;
  margin-bottom: 15px;
  font-size: 18px;
  text-decoration: none;
}

.post-column-body {
  padding: 15px;
  font-size: 14px;
  color: black;
}

@media (max-width: 767px) {
  .post-column-wrap {
    margin-bottom: 30px;
  }
  .post-column-wrap:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .post-column-title {
    font-size: 24px;
  }
  .post-column-body {
    font-size: inherit;
  }
}

@media (min-width: 1200px) {
  .post-column-image {
    height: 254px;
  }
}

.page-not-found {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background: url("../img/bigAmerica.png") 0 0 no-repeat;
  background-size: cover;
}

.page-not-found-title {
  font-size: 100px;
}

.page-not-found-title-small {
  font-size: 25px;
}

.page-not-found-title, .page-not-found-title-small {
  line-height: 1;
}

@media (max-width: 1024px) {
  .page-not-found {
    margin-top: -100px;
  }
}

@media (min-width: 480px) {
  .page-not-found-title {
    font-size: 200px;
  }
  .page-not-found-title-small {
    font-size: 50px;
  }
}

@media (min-width: 1025px) {
  .page-not-found {
    margin-top: -170px;
  }
}

@media (min-width: 1200px) and (min-height: 400px) {
  .page-not-found-title {
    font-size: 200px;
  }
  .page-not-found-title-small {
    font-size: 50px;
  }
}

@media (min-width: 1200px) and (min-height: 700px) {
  .page-not-found-title {
    font-size: 360px;
  }
  .page-not-found-title-small {
    font-size: 87px;
  }
}

.fade, .vmodal-dialog {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.fade {
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.vmodal, .vmodal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.vmodal {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.vmodal-open .vmodal {
  overflow-x: hidden;
  overflow-y: auto;
}

.vmodal-dialog {
  position: relative;
  width: 100%;
  margin: 70px auto;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
  opacity: 0;
  -webkit-transform: scale(0.7) translate(0, -150%);
          transform: scale(0.7) translate(0, -150%);
}

.vmodal.in .vmodal-dialog {
  opacity: 1;
  -webkit-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
}

.vmodal-backdrop {
  z-index: 999;
  background-color: #000000;
}

.vmodal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.vmodal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.vmodal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.vmodal-transparent {
  background-color: rgba(0, 0, 0, 0.9);
}

.vmodal-transparent .vmodal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.vmodal-transparent .vmodal-close {
  color: #fff;
}

@media (min-width: 768px) {
  .vmodal-transparent .vmodal-close {
    top: -15px;
    right: -85px;
    font-size: 80px;
  }
}

.vmodal-header, .vmodal-body, .vmodal-footer {
  padding: 15px;
  position: relative;
}

.vmodal-header:after, .vmodal-header:before, .vmodal-body:after, .vmodal-body:before, .vmodal-footer:after, .vmodal-footer:before {
  content: "";
  display: table;
}

.vmodal-header:after, .vmodal-body:after, .vmodal-footer:after {
  clear: both;
}

.vmodal-text .vmodal-header {
  background-color: #e8e8e8;
}

.vmodal-text .vmodal-body {
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f5f5;
}

.vmodal-body {
  font-size: 15px;
}

.vmodal-body-inner {
  height: 350px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 6px;
}

.vmodal-body-inner p {
  margin-bottom: 15px;
}

.vmodal-body-inner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .vmodal-body-inner {
    padding: 0 30px;
    height: 400px;
  }
}

.vmodal-close {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: right;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.vmodal-title {
  text-align: center;
}

.vmodal-title-text {
  text-align: center;
  padding: 5px;
  background-color: #4c4c4c;
  margin-top: 25px;
}

.vmodal ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .vmodal-dialog {
    width: 400px;
  }
  .vmodal-dialog.big {
    width: 600px;
    margin: 30px auto;
  }
  .vmodal-content {
    border-radius: 6px;
  }
}

.visible {
  visibility: visible;
}

/* ===================== 
Start: ANIMATIONS      
======================== */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* =====================
End:  ANIMATIONS
======================== */
.vtabs-links {
  text-align: center;
}

.vtabs-list {
  font-size: 0;
}

.vtabs-list a {
  display: block;
  background-color: #f0f4f7;
  color: #d2d2d2;
  border-radius: 6px 6px 0 0;
  padding: 20px 10px;
  font-size: 16px;
  box-shadow: inset 0px 1px 15px 1px rgba(1, 0, 0, 0.04);
}

.vtabs-list li {
  display: inline-block;
  width: 50%;
}

.vtabs-list li.active a {
  box-shadow: none;
  background-color: #fff;
}

.vtabs-list a:hover, .vtabs-list li.active a {
  color: #174a7a;
}

.vtabs-btn {
  width: 100%;
  margin-bottom: 23px;
  display: block;
}

.vtabs-content {
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  padding: 30px 15px;
}

.vtabs-content-inner {
  display: none;
}

.vtabs-content-inner.active {
  display: block;
}

@media (min-width: 768px) {
  .vtabs-list a {
    font-size: 18px;
  }
  .vtabs-content {
    padding: 65px 15px 80px;
  }
}

@media (min-width: 1200px) {
  .vtabs-list a {
    font-size: 24px;
  }
  .vtabs-content {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.vtabs-horizontal {
  background-color: #f0f4f7;
}

.vtabs-vertical .vtabs-links a {
  border-radius: 0;
}

@media (min-width: 1025px) {
  .vtabs-vertical .vtabs-links,
  .vtabs-vertical .vtabs-content {
    float: left;
  }
  .vtabs-vertical .vtabs-links {
    width: 20%;
  }
  .vtabs-vertical .vtabs-links li {
    display: block;
    width: 100%;
  }
  .vtabs-vertical .vtabs-btn {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .vtabs-vertical .vtabs-btn:last-child {
    margin-right: 0;
  }
  .vtabs-vertical .vtabs-content {
    text-align: center;
    width: 80%;
    padding: 41.5px 15px;
    border-radius: 0 6px 6px 0;
  }
}
