.transition{
  @include transitionMake();
}
.pseudo{
  @include pseudo();
}
.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
.shadow{
  box-shadow: 0 3px 50px rgba(1,0,0,.15);
}
.radius{
  border-radius: 6px;
}
.color{
  &-light{
    color: setColor(light);
  }
  &-black{
    color: setColor(black, black);
  }
}
.fs-0{
  font-size: 0;
}
@for $i from 1 through 3{
  .index-#{$i}{
    z-index: $i;
  }
}
.text{
  &-small{
    font-size: 11px;
  }
}
@for $i from 1 through 2{
  .ls-#{$i}{
    letter-spacing: #{$i}px;
  }
}