.vmain-form{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  padding-bottom: 30px;
  @extend .radius;
  input,
  button{
    width: 100%;
    @extend .radius;
  }
  input{
    border: 2px solid setColor(light);
    text-align: left;
    max-width: 100%;
    padding: 14px 15px;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    outline: none;
    background-color: transparent;
    @extend .roboto;
    @extend .block-inline;
    @extend .regular;
    @extend .transition;
    &::-webkit-input-placeholder{
      color: setColor(light);
    }
    &:-moz-placeholder {
      color: setColor(light);
    }
    &::-moz-placeholder {
      color: setColor(light);
    }
    &:-ms-input-placeholder {
      color: setColor(light);
    }
    &:focus{
      border-color: setColor(green);
    }
  }
  .vbtn{
    width: 100%;
    padding: 17px 15px;
  }
  @include resp-max(md){
    &-col{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  @include resp-min(sm){
    &-fixed{
      width: 300px;
    }
  }
  @include resp-min(md){
    padding: 35px 70px;
  }
}