.vak-xs-12.vak-sm-6
	.review-man
		img(src="img/bigMan.png")
.vak-xs-12.vak-sm-6
	.review-man-quote-wrap
		p.review-man-quote «The Game, The Rules, and the players have all changed … Masters of the Universe are being beaten by newcomers...» 
		p.review-man-name Howard Getson
		p.review-man-pos President at Capitalogix