.vtabs-horizontal
	ul.vtabs-links.vtabs-list
		li.active: a(data-tab="tab" data-tab-target="#investor") Investor <span class="black">login</span>
		li: a(data-tab="tab" data-tab-target="#trial") Trital <span class="black">login</span>
	.vtabs-content
		.vtabs-content-inner.active#investor
			a(href="#" class="vbtn vbtn-def vtabs-btn") Set Up An Appointments
			a(href="#" class="vbtn vbtn-def vtabs-btn") Performance
			a(href="#" class="vbtn vbtn-def vbtn-def-color vtabs-btn") Research initiatives
		.vtabs-content-inner#trial
			a(href="#" class="vbtn vbtn-def vtabs-btn") Set Up An Appointments
			a(href="#" class="vbtn vbtn-def vtabs-btn") Performance
			a(href="#" class="vbtn vbtn-def vbtn-def-color vtabs-btn") Research initiatives