.widget-block.widget-block-what
	.widget-text-wrap
		a(href="#")
			p.widget-title What do I <span class="black">need to know</span>?
			p.widget-text What is neural network? Where do i fit in? (Targeted towards Hires)