.widget-block.widget-block-why
	.widget-text-wrap
		p.widget-title Why <span class="black">Capitalogix</span>?
		p.widget-text The game, the rules, the players have all changed... (targeted towards building intrigue)