extends includes/layout
block title
	title 404_Page
block content
	.page-not-found
		h1.page-not-found-title 404
		h2.page-not-found-title-small Page not found
block footer
	.footer-absolute
		include includes/nav_footer