extends includes/layout
block title
	title Blog
block content
	.vcontainer
		.vrow
			.vak-xs-12.vak-md-8
				.cf
					article.post-wrap
						.post-thumbnail
							img(src="img/post1.png")
						.post-details
							h4.post-title: a(href="#") Adam Sandler Plays A New Version Of His ‘The Chanukah Song’ [Video]
							.post-footer
								a.vbtn.vbtn-def.post-link Continue reading
					article.post-wrap
						.post-thumbnail
							img(src="img/post1.png")
						.post-details
							h4.post-title: a(href="#") Adam Sandler Plays A New Version Of His ‘The Chanukah Song’ [Video]
							.post-footer
								a.vbtn.vbtn-def.post-link Continue reading
					article.post-wrap
						.post-thumbnail
							img(src="img/post1.png")
						.post-details
							h4.post-title: a(href="#") Adam Sandler Plays A New Version Of His ‘The Chanukah Song’ [Video]
							.post-footer
								a.vbtn.vbtn-def.post-link Continue reading
			include includes/sidebar
block footer
	.footer-default.footer-height
		.footer-absolute
			include includes/nav_footer