extends includes/layout
block title
	title Main Page
block content
	.vcontainer
		.slider
		.vrow
			.vak-xs-12.vak-md-4.block-m-b
				include includes/partials/widget-why
			.vak-xs-12.vak-md-4.block-m-b
				include includes/partials/vtabs-hor
			.vak-xs-12.vak-md-4.block-m-b
				include includes/partials/widget-what
block footer
	footer.footer.footer-default.footer-v1
		.vcontainer
			.vrow
				include includes/partials/review
		.footer-absolute
			include includes/nav_footer