extends includes/layout
block title
	title Main Page
block content
	.vcontainer
		.slider
		.vrow
			.vak-xs-12.vak-md-4.block-m-b
				include includes/partials/widget-why
			.vak-xs-12.vak-md-4.block-m-b
				include includes/partials/vtabs-hor
			.vak-xs-12.vak-md-4.block-m-b
				include includes/partials/widget-what
block footer
	footer.footer.footer-default.footer-v1
		.vcontainer
			.vrow
				.vak-xs-12.vak-sm-6
					.footer-man
						img(src="img/bigMan.png")
				.vak-xs-12.vak-sm-6
					.footer-man-quote-wrap
						p.footer-man-quote «The Game, The Rules, and the players have all changed … Masters of the Universe are being beaten by newcomers...» 
						p.footer-man-name Howard Getson
						p.footer-man-pos President at Capitalogix
		.footer-absolute
			include includes/nav_footer