// @include connect-font(ProximaRegular,regular);
// @include connect-font(ProximaLight,light);
// @include connect-font(ProximaMedium,medium);
// @include connect-font(ProximaBold,bold);
// @include connect-font(ProximaBlack,black);
.roboto{
	font-family: 'Roboto', serif;
}
.regular{
	font-weight: 400;
}
.thin{
	font-weight: 100;
}
.light{
	font-weight: 300;
}
.medium{
	font-weight: 500;
}
.bold{
	font-weight: 700;
}
.black{
	font-weight: 900;
}