@include resp-max(md){
	.vnav-wrapper-fixed + .main-wrapper{
		margin-top: 55px;
	}
	.vnav-wrapper-shadow + .main-wrapper{
		margin-top: 100px;
	}
	.main-content{
		margin-bottom: 30px;
	}
}
@include resp-min(md){
	.vnav-wrapper-fixed + .main-wrapper{
		margin-top: 89px;
	}
	.vnav-wrapper-shadow + .main-wrapper{
		margin-top: 170px;
	}
}
.main-wrapper{
	position: relative;
}

// Widget
.widget{
	&-block{
		padding: 150px 25px 25px 25px;
		color: #fff;
		background-size: cover;
		background-position: 0 0;
		@extend .shadow;
		@extend .radius;
		&-why{
			background-image: url('../img/whyCapital.png');
		}
		&-what{
			background-image: url('../img/whatDo.png');
		}
		a{
			color: inherit;
			text-decoration: none;
		}
	}
	&-title{
		font-size: 34px;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	&-text{
		line-height: 1.25;
	}

	@include resp-min(xs){
		&-title{
			font-size: 46px;
		}
		@include resp-max(md){
			&-block{
				padding-top: 220px;
				width: 400px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	@include resp-min(md){
		&-block{
			padding-top: 220px;
			min-height: 434px;
		}
		&-title{
			font-size: 37px;
		}
	}
	@include resp-min(lg){
		&-title{
			font-size: 46px;
		}
	}
}
.block{
	&-m{
		&-b{
			margin-bottom: 30px;
		}
		&-s{
			margin-bottom: 15px;
		}
		&-b,
		&-s{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.searchform{
	font-size: 0;
	input,
	&-btn{
		display: inline-block;
		font-size: 18px;
		@extend .radius;
		@extend .medium;
		@extend .roboto;
	}
	input{
		border: 2px solid setColor(green);
		padding: 9px 15px;
		outline: none;
		color: setColor(corp);
		width: calc(100% - 75px);
  	margin-right: 15px;
		@extend .transition;
		&::-webkit-input-placeholder{
      color: setColor(corp);
    }
    &:-moz-placeholder {
      color: setColor(corp);
    }
    &::-moz-placeholder {
      color: setColor(corp);
    }
    &:-ms-input-placeholder {
      color: setColor(corp);
    }
    &:focus{
			border-color: lighten(setColor(green), 15%);
		}
	}
	&-btn{
		background-color: setColor(green);
		border: none;
		text-indent: -9999px;
	  padding: 11px 30px;
	  position: relative;
	  top: -1px;
	  @include transitionMake(all, linear, 0.3s);
	  &:hover{
	  	background-color: lighten(setColor(green), 15%);
	  }
	  &:after{
	  	@extend .pseudo;
	  	left: 50%;
	  	top: 50%;
	  	width: 26px;
	  	height: 26px;
	  	margin-left: -13px;
	  	margin-top: -13px;
	  	@include bg("../img/icon.png");
	  }
	}
	@include resp-min(md){
		@include resp-max(lg){
			input{
				max-width: 70%;
			}
		}
	}
}
.review{
	&-man{
		font-size: 0;
		&-quote{
			font-size: 20px;
			font-style: italic;
			&-wrap{
				line-height: 1.3;
				position: relative;
			}
		}
		&-name{
			margin-top: 30px;
			font-size: 24px;
		}
		&-pos{
			margin-top: 15px;
		}
		@include resp-max(sm){
			border-bottom: 2px solid #141319;
			margin-bottom: 15px;
			&-quote{
				&-wrap{
					text-align: center;
				}
			}
		}
		@include resp-max(md){
			text-align: center;
			img{
				max-height: 300px;
			}
		}
		@include resp-min(sm){
			&-quote{
				font-size: 24px;
			}
			&-pos{
				margin-top: 10px;
			}
		}
		@include resp-min(md){
			&-quote{
				font-size: 30px;
				&-wrap{
					top: 110px;
				}
			}
		}
		@include resp-min(lg){
			&-quote{
				font-size: 36px;
				&-wrap{
				  top: 117px;
				  left: -107px;
				}
			}
		}
	}
}
.column-text-image{
	@include resp-max(md){
		margin-bottom: 30px;
	}
	@include resp-min(md){
		margin-top: 120px;
	}
}
.bgHead{
	@include bg('../img/bgHead.jpg', center center);
}