doctype html
html(lang="ru")
  head
    block title
      title Project_name
    block description
      meta(name="description" content="")
    include head
    include mixins
  body
    block navigation
      .vnav-wrapper-fixed.vnav-wrapper-shadow
        include nav
    main.main-wrapper
      block content
      block footer
        include nav_footer
    //- +button("vbtn vbtn-effect-shutter-vertical-out vbtn-corp", "#s") Button_text_big