include ./mixins
nav.vnav
	.vcontainer
		.vrow
			.vak-xs-6.vak-md-4
				.vnav-logo
					button(type="button" class="vnav-menu-btn" data-menu=".vnav-menu")
						span
					.block-inline.vvisible-md.vvisible-lg
						img(src="img/logo.png" alt="")
					.block-inline.vhidden-md.vhidden-lg
						img(src="img/logo-responsive.png" alt="")
			.visible-md.visible-lg.vak-xs-6.vak-md-3.vpull-md-right.text-md-right.max-md-center
				.vnav-text-hidden
					span
				.vnav-text
					p +38 (063) 505 62 63
			.vak-xs-12.vak-md-5.vnav-menu
				ul
					+item("#sec1") Главная