include mixins
nav.vnav
	.vcontainer
		.vrow
			.vak-xs-12.vak-md-3
				.vnav-logo
					button(type="button" class="vnav-menu-btn" data-menu=".vnav-menu-fixed")
						span
					a(href="#"): img(src="img/logo.png" alt="")
			.vak-xs-12.vak-md-9.vnav-menu.vnav-menu-fixed
				ul
					+item("#", "current-menu-item") Who we are
					+item("#") What we do
					+item("#") Resources
					+item("#") Contact Us
					+item("#") Investors
					+item("#", "border") Set Up An Appointments