include mixins
nav.vnav
	.vcontainer
		.vrow
			.vak-xs-12.vak-md-3
				.vnav-logo
					a(href="#"): img(src="img/logo_white.png" alt="")
			.vak-xs-12.vak-md-9.vnav-menu
				ul
					+item("#", "current-menu-item") Who we are
					+item("#") What we do
					+item("#") Resources
					+item("#") Contact Us
					+item("#") Investors
					+item("#", "border") Set Up An Appointments