include mixins
nav.vnav.vnav-footer
	.vcontainer
		.vrow
			.vak-xs-6.vak-md-3
				.vnav-logo
					.block-inline
						img(src="img/logo_white.png" alt="")
			.vak-xs-12.vak-md-9.vnav-menu.vnav-footer-menu
				ul
					+item("#") Who we are
					+item("#") What we do
					+item("#") Resources
					+item("#") Contact Us
					+item("#") Investors
					+item("#", "border") Set Up An Appointments