aside.vak-xs-12.vak-md-4
	.aside-widget.aside-widget-light
		form.searchform
			input(type="text" placeholder="Search ...")
			button(type="submit" class="searchform-btn") Text
	.aside-widget
		.tags-cloud
			a(href="#") Admin
			a(href="#") Art
			a(href="#") Books
			a(href="#") Business
			a(href="#") Current
			a(href="#") Affairs
			a(href="#") Film
	.aside-widget
		include partials/vtabs-hor
	.aside-widget
		include partials/widget-what