.footer{
	padding-top: 50px;
	padding-bottom: 30px;
	position: relative;
	z-index: z('default');
	@include resp-min(sm){
		padding-bottom: 0;
	}
	&-man{
		font-size: 0;
		&-quote{
			font-size: 20px;
			font-style: italic;
			&-wrap{
				line-height: 1.3;
				position: relative;
			}
		}
		&-name{
			margin-top: 30px;
			font-size: 24px;
		}
		&-pos{
			margin-top: 15px;
		}
		@include resp-max(sm){
			border-bottom: 2px solid #141319;
			margin-bottom: 15px;
			&-quote{
				&-wrap{
					text-align: center;
				}
			}
		}
		@include resp-max(md){
			text-align: center;
			img{
				max-height: 300px;
			}
		}
		@include resp-min(sm){
			&-quote{
				font-size: 24px;
			}
			&-pos{
				margin-top: 10px;
			}
		}
		@include resp-min(md){
			&-quote{
				font-size: 30px;
				&-wrap{
					top: 110px;
				}
			}
		}
		@include resp-min(lg){
			&-quote{
				font-size: 36px;
				&-wrap{
				  top: 117px;
				  left: -107px;
				}
			}
		}
	}
	@at-root{
		%footerAfter{
			@extend .pseudo;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: linear-gradient(to top, #174a7a 0%, rgba(23, 74, 122, 0) 100%);
		}
	}
	&-v1{
		padding-top: 70px;
		&:after{
			@extend %footerAfter;
		}	
	}
	&-default{
		@include bg('../img/bigAmerica.png');
		color: setColor(light);
	}
	&-absolute{
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 30px;
		color: #fff;
		@include resp-max(md){
			display: none;
		}
	}
	&-height{
		position: relative;
		z-index: 1;
		&:after{
			@extend %footerAfter;
		}
		min-height: 600px;
	}
}